.bgcolor{
    background-color: #161616;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon{
    color: #ffc700;
    font-size: 18px;
}

.info{
    color: #9b9b9b;
    font-family: 'Univers Light';
    font-size: 18px;
    font-weight: 100;
    text-align: left;
}

@media(max-width: 600px){
    .bgcolor{
        display: none;
    }
}