.bgbanner{
    background-image: linear-gradient(90deg,#000 15%,transparent), url("/img/banner-seminovos.jpg");
    background-size: cover;
    padding-top: 214px;
    padding-bottom: 214px;
    border-bottom: solid;
    border-width: 12px;
    border-color: #ffc700;
}

.title{
    font-family: 'Univers Bold';
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    line-height: 60px;
}

.button{
    color: #000;
    background-color: #ffc700;
    font-family: 'Univers Bold';
    text-transform: uppercase;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 1em gold;
    padding: 5px 55px 5px 55px;
    margin-top: 25px;
    transition: 0.3s;
}

.button:hover{
    background-color: white;
    transition: 0.3s;
}